<% layout('layouts/boilerplate') -%>

<div class="listing-container row">
  <div class="listing-card col-8 offset-2 mb-3">
    <h2>Edit your Listing</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
      <div class="form-group mb-3">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="listing[title]" value="<%= listing.title %>" required>
      </div>

      <div class="form-group mb-3">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="listing[description]" rows="3" required><%= listing.description %></textarea>
      </div>

      <div class="form-group mb-3">
        <label for="country">Country:</label>
          <input type="text" class="form-control" id="country" name="listing[country]" value="<%= listing.country %>" required>
      </div>

      <div class="row">
        <div class="form-group mb-3 col-md-8">
          <label for="location">Location:</label>
          <input type="text" class="form-control" id="location" name="listing[location]" value="<%= listing.location %>" required>
        </div>
        <div class="form-group mb-3 col-md-4">
          <label for="price">Price:</label>
         <input type="number" class="form-control" id="price" name="listing[price]" value="<%= listing.price %>" required>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="image-url">Image URL:</label>
        <input type="url" class="form-control" id="image-url" name="listing[image][url]" value="<%= listing.image.url %>" required>
      </div>

      <button type="submit" class="btn btn-primary edit-btn">Submit</button>
      <a href="/listings/<%= listing._id %>" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>
